<style>
    .category-list {
        padding: 0 2rem !important;
    }
</style>

{% if not categories %}
    <p>There are no categories</p>
{% else %}
    <ul class="collapsible">
        {% for category in categories %}
            <li>
                <div class="collapsible-header">
                    {% if category.subcategories.all %}
                        {{ category.name }}
                    {% else %}
                        <a href="{% url 'recipes' category=category.name %}">{{ category.name }}</a>    
                    {% endif %}
                </div>
                    {% for subcategory in category.subcategories.all %}
                        <div class="collapsible-body category-list">
                            <p>
                                <a href="{% url 'recipes' category=subcategory.name %}">{{ subcategory.name }}</a>
                            </p>
                        </div>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endif %}