{% extends "base.html" %}

{% block content %}
    <table>
        <thead class="highlight">
            <tr>
                <th>Name</th>
                <th>Subcategory</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for category in category_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.subcategory }}</td>
                    <td><a href="{% url 'category-update' pk=category.id %}">Edit</a> Delete</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
